body {
	background-color: white;
	color: #333366;
	font-family: Verdana, Tahoma, "Times New Roman";
	font-size: 10pt;
	list-style-type: disc;
	padding: 0px;
	background: #FFF;
	list-style-type: disc;
	width: 960px;
	height: 640px;
}

#header {
	width: 960px;
	height: 75px;
	background-image: url(logo.jpg);
	background-repeat: repeat-x;
	border: 1px solid red;
}

#content {
	width: 960px;
	height: 490px;
	border: 1px solid green;
	padding: 10px;
}

#footer {
	width: 960px;
	height: 75px;
	border: 1px solid red;
}

#navbar {
	width: 960px;
	height: 75px;
	clear: both;
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 75px;
}

#navbar li {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 192px;
}

#navbar a {
	display: block; 
	background-color: black; 
	padding : 30px 0px 30px 0px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #ccc;
	text-transform: uppercase;
	margin: 0px;
	height: 15px;
	width: 192px;
	border: 1px solid gray;
}

#navbar a:hover {
	background-color: gray;
	color: #EE6600;
	border: 1px solid black;
}

#login {
	position: relative;
	left: 325px;
	top: 10px;
}

#login input {
	text-align: center;
	font-size: 48pt;
	width: 302px;
	height: 50px;
	margin-bottom: 10px;
	}
	
#login ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 100px;
	display: table-row-group; 
}

#login li {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 100px;
}

#login a {
	display: block; 
	background-color: black; 
	padding : 40px 0px 40px 0px;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	color: #ccc;
	text-transform: uppercase;
	margin: 0px;
	height: 20px;
	width: 100px;
	border: 1px solid gray;
}

#login a:hover {
	background-color: gray;
	color: #EE6600;
	border: 1px solid black;
}
