body {
	background-color: white;
	color: #333366;
	font-family: Helvetica, Verdana, Tahoma, "Times New Roman";
	font-size: 10pt;
	list-style-type: disc;
	padding: 0px;
	background: #FFF;
	list-style-type: disc;
/*	width: 980px;
	height: 1088px; */
margin: 0px;
}

#header {
	width: 980px;
	height: 100px;
	background-image: url(logo.jpg);
	background-repeat: repeat-x;
	border: 0px solid red;
}

#content {
	width: 980px;
	height: 868px;
	border: 0px solid green;
	padding: 0px;
	background-color: white;
}

#footer {
	width: 980px;
	height: 120px;
	border: 0px solid red;
}

#navbar {
	width: 980px;
	height: 120px;
	clear: both;
}

#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 120px;
}

#navbar li {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 163px;
}

#navbar a {
	display: block; 
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-transform: none;
	text-align:center;
	line-height: 120px; 			
	margin: 0 auto;
	width: 163px;
	border: 1px solid gray;
	background-image: url(blackButton120.png);
	background-repeat: repeat-x;
	
}

#navbar a:hover {
}

#login {
	position: relative;
	left: 0px;
	top: 40px;
}

#login input {
	text-align: center;
	font-size: 84pt;
	width: 980px;
	height: 120px;
	margin-bottom: 25px;

	}
	
#login ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 150px;
	width: 980px;
	display: table-row-group; 
}

#login li {
	float: left;
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 326px;
}

#login a {
	display: block; 
	font-size: 60px;
	font-weight: bold;
	text-decoration: none;
	color: white;
	text-transform: none;
	text-align:center;
	line-height: 150px; 			
	margin: 0 auto;
	width: 326px;
	border: 1px solid gray;
	background-image: url(blackButton150.png);
	background-repeat: repeat-x;
	background-color: white;
	
}

#login a:hover {
}

#home ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 150px;
	width: 980px;
	display: table-row-group; 
}

#home li {
	float: left;
	margin-top: 5;
	margin-bottom: 5;
	padding: 0;
	list-style-type: none;
	text-align: center;
	width: 50%;
	border: 0px solid red;
}


a.button {
	/* Default positioning of button */
	display: block;
	margin: 0 auto;
	width: 150px; /* if no width was set, the button would
	               expand to the width of its parent */
	text-align:center;
	line-height: 46px; /* will keep the text vertically
	                     centered on the 46px high button */				

	/* Font styling */
	font-family: Helvetica;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	color: #000;
	text-shadow: #fff 0px 1px 1px; /* slight white drop shadow */

	/* Button image is 29px wide.
		14px for the left part of the button
		14px for the right
		1px for the middle
	*/
	border-width: 0 14px 0 14px;
	-webkit-border-image: url(whiteButton.png) 0 14 0 14;
	-moz-border-image: url(whiteButton.png) 0 14 0 14;
	-khtml-border-image: url(whiteButton.png) 0 14 0 14;
	-icab-border-image: url(whiteButton.png) 0 14 0 14;
	-o-border-image: url(whiteButton.png) 0 14 0 14;
}

