<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp">
	<display-name>TheHoggesWeb</display-name>
	<filter>
		<filter-name>httpHeadersExpiresNow</filter-name>
		<filter-class>
			org.ft.servlet.filters.httpheaders.HTTPHeadersFilter
		</filter-class>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>
				${now.time}
			</param-value>
		</init-param>
		<init-param>
			<param-name>Last-Modified</param-name>
			<param-value>${now}</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>httpHeaders</filter-name>
		<filter-class>
			org.ft.servlet.filters.httpheaders.HTTPHeadersFilter
		</filter-class>
		<init-param>
			<param-name>Expires</param-name>
			<param-value>
				${now.time + 1000 * 60 * 60 * 24 * 30}
			</param-value>
		</init-param>
		<init-param>
			<param-name>Last-Modified</param-name>
			<param-value>${now}</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>httpHeadersExpiresNow</filter-name>
		<url-pattern>/randomimagerurl</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.JPG</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.jpg</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.PNG</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.GIF</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.gif</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.JS</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.mp3</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>httpHeaders</filter-name>
		<url-pattern>*.MP3</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>
			com.hogdev.enterprise.listeners.ContextLifecycleListener
		</listener-class>
	</listener>
	<listener>
		<listener-class>
			com.hogdev.thehoggesweb.listeners.ContextLifecycleListener
		</listener-class>
	</listener>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>retriever</servlet-name>
		<display-name>retriever</display-name>
		<servlet-class>
			com.hogdev.enterprise.servlets.Retriever
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imager</servlet-name>
		<display-name>imager</display-name>
		<servlet-class>
			com.hogdev.enterprise.servlets.Imager
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>cacheimager</servlet-name>
		<display-name>cacheimager</display-name>
		<servlet-class>
			com.hogdev.enterprise.servlets.CacheImager
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>randomimagerurl</servlet-name>
		<display-name>randomimagerurl</display-name>
		<servlet-class>
			com.hogdev.enterprise.servlets.RandomImagerURL
		</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>viewer</servlet-name>
		<display-name>viewer</display-name>
		<servlet-class>
			com.hogdev.enterprise.servlets.ViewerTiled
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>albums</servlet-name>
		<display-name>albums</display-name>
		<servlet-class>
			com.hogdev.thehoggesweb.servlets.AlbumsRetriever
		</servlet-class>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>stats</servlet-name>
		<display-name>stats</display-name>
		<servlet-class>
			com.hogdev.enterprise.servlets.StatsServlet
		</servlet-class>
		<init-param>
			<param-name>filename</param-name>
			<param-value>TheHogges.stats</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>webcam</servlet-name>
		<display-name>webcam</display-name>
		<servlet-class>
			com.hogdev.thehoggesweb.servlets.WebCamRetriever
		</servlet-class>
	</servlet>
	<!--  leave this one ahead of the .do mapping -->
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.m3u</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>retriever</servlet-name>
		<url-pattern>/retriever/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>imager</servlet-name>
		<url-pattern>/imager/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>randomimagerurl</servlet-name>
		<url-pattern>/randomimagerurl/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>cacheimager</servlet-name>
		<url-pattern>/cacheimager/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>viewer</servlet-name>
		<url-pattern>/viewer/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>albums</servlet-name>
		<url-pattern>/albums</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>stats</servlet-name>
		<url-pattern>/stats</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>home.do</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!--error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/error.do</location>
		</error-page-->
	<error-page>
		<error-code>404</error-code>
		<location>/home.do</location>
	</error-page>
	<!--error-page>
		<error-code>401</error-code>
		<location>/security.do</location>
	</error-page-->
	<!--error-page>
		<error-code>500</error-code>
		<location>/error.do</location>
		</error-page-->
	<error-page>
		<error-code>403</error-code>
		<location>/security.do</location>
	</error-page>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/hogdev.tld</taglib-uri>
		<taglib-location>/WEB-INF/hogdev.tld</taglib-location>
	</taglib>
	<security-constraint>
		<display-name>Secured pages</display-name>
		<web-resource-collection>
			<web-resource-name>secured</web-resource-name>
			<description>Secured pages</description>
			<url-pattern>/secured/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>GET</http-method>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>WebConstraint</display-name>
		<web-resource-collection>
		<web-resource-name>Web</web-resource-name>
		<description></description>
		<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
		<description></description>
		<role-name>webuser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>AutomationConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Automation Area</web-resource-name>
			<description></description>
			<url-pattern>/automation.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>automationuser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>MusicConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Music Area</web-resource-name>
			<description></description>
			<url-pattern>/retriever/music/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>musicuser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>VideoConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Video Area</web-resource-name>
			<description></description>
			<url-pattern>/retriever/video/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>videouser</role-name>
		</auth-constraint>
	</security-constraint>
	<security-constraint>
		<display-name>UploadConstraint</display-name>
		<web-resource-collection>
			<web-resource-name>Upload</web-resource-name>
			<description></description>
			<url-pattern>/upload.do</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>FileUpload</web-resource-name>
			<description></description>
			<url-pattern>/fileupload.do</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description></description>
			<role-name>uploaduser</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>TheHogges.com restricted area</realm-name>
	</login-config>
	<security-role>
		<description>
			person who has access to music section
		</description>
		<role-name>musicuser</role-name>
	</security-role>
	<security-role>
		<description>
			person who has access to video section
		</description>
		<role-name>videouser</role-name>
	</security-role>
	<security-role>
		<description>
			person who has access to automation section
		</description>
		<role-name>automationuser</role-name>
	</security-role>
	<security-role>
		<description>
			someone who is trusted to upload files
		</description>
		<role-name>uploaduser</role-name>
	</security-role>
	<security-role>
		<description>someone who is trusted to see webcam</description>
		<role-name>webcamuser</role-name>
	</security-role>
	<security-role>
		<description>
			someone who is God
		</description>
		<role-name>admin</role-name>
	</security-role>
	
</web-app>
